/* ESTRUCTURA GENERAL DE CSS: etiqueta {propiedad: valor;} */

/* llamar a toda la pagina */
* {font-family: Verdana;}

/* llamar a la etiqueta directo */
body {background-color: lightpink;}

/* llamar a una clase directo */
.titular {
    color: #DC1CDC ;
    font-size: 50px;
}

/* llamar a un id directo */
#titular3 {color: aqua;}

/*
los colores en hexadecimal
0 1 2 3 4 5 6 7 8 9 a b c d e f
red green blue (RGB)

# rojo verde azul (2 numeros para cada color)

ejemplo:
#000000 -- negro
#ff0000 -- el rojo + rojo
#ffffff -- blanco
#00ff00 -- verde

o tmb puedo hacer:
rgb (265, 0, 0)

*/