body {
    margin: 0;
}

.btn-info {
    background-color: #E0BAFF;
    border: #E0BAFF;
}

.card-footer {
    background-color: white;
}

.header {
    margin: 0;
}

/* CSS PARA PÁGINA DE LOG IN */
#bodylogin {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
/* TERMINA CSS PARA PÁGINA DE LOG IN */

/* CSS PARA PÁGINA DE COMPRAR */
@media screen and (min-width: 768px) {
    #resumenpedido {
        overflow-y: auto;
        max-height: 260px;
    }
}